/* You can add global styles to this file, and also import other style files */
@import "./main";
@import "./colors";
@import "./fonts";

.header-1, h1 {
  font-size: 20px;
  color: $blue-header-text;
  font-weight: $font-bold;
}

.header-2, h2 {
  font-size: 16px;
  color: $blue-header-text;
  font-weight: $font-bold;
}

.header-3, h3 {
  font-size: 14px;
  color: $blue-header-text;
  font-weight: $font-bold;
}

.header-6 {
  font-size: 12px;
  color: $blue-header-text;
  font-weight: $font-bold;
}

/* bold font and lighter blue color */
.header-4 {
  font-size: 14px;
  color: $blue-body-text;
  font-weight: $font-bold;
}

.header-5 {
  font-size: 12px;
  color: $blue-body-text;
  font-weight: $font-bold;
}

.body-copy-1 {
  font-size: 16px;
  color: $blue-body-text;
  font-weight: $font-normal;
}

.body-copy-2, p {
  font-size: 14px;
  color: $blue-body-text;
  font-weight: $font-normal;
}

.body-copy-ellipsis-msg {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.body-copy-3 {
  font-size: 12px;
  color: $blue-body-text;
  font-weight: $font-normal;
}

.body-copy-2-headerblue {
  font-size: 14px;
  color: $blue-header-text;
  font-weight: $font-normal;
}

.body-copy-2-bodyblue {
  font-size: 12px;
  color: $blue-body-text;
  font-weight: $font-normal;
}


.blue-text {
  color: $teal;
  font-weight: $font-normal;
}

.cursor {
  cursor: pointer;
}

.error-text {
  @extend .body-copy-3;
  color: $red;
  font-weight: $font-normal;
}
