<div class="sidebar">
	<div class="sidebarHeader">
		<div fxLayout="row" fxLayoutAlign="space-between">
				<div class="title">Approve Templates</div>
				<div class="closeSidebar" fxLayoutAlign="center center" (click)="close()">x</div>
		</div>
		<hr />
	</div>
	<div mat-dialog-content>
		<div class="custom-checkbox-table mt-3">
			<mat-checkbox class="mr-4" [(ngModel)]="isPrint">
				<mat-icon [svgIcon]="setApprovedForsIcon('Print')"></mat-icon>
			</mat-checkbox>
			<mat-checkbox class="mr-4" [(ngModel)]="isSocialMedia">
				<mat-icon [svgIcon]="setApprovedForsIcon('Social Media')"></mat-icon>
			</mat-checkbox>
			<mat-checkbox class="" [(ngModel)]="isWebVideo">
				<mat-icon [svgIcon]="setApprovedForsIcon('Web Based Video or Streaming')"></mat-icon>
			</mat-checkbox>
		</div>

		<div class="mt-3">
			<button class="c-btn c-btn--primary py-1 px-2 ml-1 mr-1" (click)="updateTemplate()">Update</button>
			<button class="c-btn c-btn--small c-btn-outline--primary" (click)="close()">Cancel</button>
		</div>
	</div>
</div>
  