<div class="templates-main">
	<h1 class="align-center">Angular Example</h1>

	<div class="templates-container">
		<table
			mat-table
			#templatesTable
			[dataSource]="dataSource"
			class="templates-table"
			matSort
			matSortDisableClear
			matSortDirection="asc"
			(matSortChange)="handleSortForTableField($event)"
		>
			<ng-container matColumnDef="select">
				<th class="text-center" mat-header-cell *matHeaderCellDef>
					<mat-checkbox
						(change)="$event ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()"
						[aria-label]="checkboxLabel()"
					>
					</mat-checkbox>
				</th>
				<td class="text-center" mat-cell *matCellDef="let row">
					<div class="custom-table-col column-1">
						<mat-checkbox
							(click)="$event.stopPropagation()"
							(change)="$event ? selection.toggle(row) : null"
							[checked]="selection.isSelected(row)"
							[aria-label]="checkboxLabel(row)"
						>
						</mat-checkbox>
					</div>
				</td>
			</ng-container>

			<ng-container matColumnDef="thumbnail">
					<th mat-header-cell *matHeaderCellDef class="header-3">No</th>
					<td mat-cell *matCellDef="let row">{{ row.thumbnail }}</td>
			</ng-container>

			<ng-container matColumnDef="main_name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-3">Name</th>
				<td mat-cell *matCellDef="let row" (click)="onClickViewTemplate(row)">{{row.main_name}}</td>
			</ng-container>

			<ng-container matColumnDef="description">
				<th mat-header-cell *matHeaderCellDef class="header-3">Description</th>
				<td mat-cell *matCellDef="let row">{{row.description}}</td>
			</ng-container>

			<ng-container matColumnDef="template_type">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-3">Type</th>
				<td mat-cell *matCellDef="let row">{{ row.template_type == 1 ? 'Text' : 'Email' }}</td>
			</ng-container>

			<ng-container matColumnDef="job">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-3">Category</th>
				<td mat-cell *matCellDef="let row" >{{ row.job }}</td>
			</ng-container>

			<ng-container matColumnDef="email_attachment">
				<th mat-header-cell *matHeaderCellDef class="header-3">EA</th>
				<td mat-cell *matCellDef="let row" >{{ row.email_attachment }}</td>
			</ng-container>

			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef class="header-3">Action</th>
				<td mat-cell *matCellDef="let row" class="body-copy-2">
					<div class="custom-table-col column-2">
						<div class="task-action-wrapper">
							<div
								class="task-action ic edit"
								(click)="$event.stopPropagation(); onClickEditTemplate(row)" matTooltip="Edit"
							>
							</div>
							<div
								class="task-action ic trash"
								(click)="$event.stopPropagation(); deleteTemplate(row.id)" matTooltip="Delete"
							>
							</div>
						</div>
					</div>
				</td>
				<td></td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>

		<mat-paginator
			[pageSizeOptions]="[5, 10, 50, 100]"
			[length]="resultsLength"
			[pageIndex]="pageIndex"
			[pageSize]="pageSize"
			(page)="pageNavigations($event)"
		></mat-paginator>
	</div>
</div>
